:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: gray;
}

h1,
p,
div {
  margin: 1rem;
  text-align: center;
}

h1 {
  color: black;
  text-shadow: lightgray 0.05rem 0.05rem;
}

article {
  margin: auto;
  border: black thick solid;
  max-width: max-content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.underBox {
  margin: 0;
  width: 100%;
  height: 100%;
  grid-area: 1/1;
  background: repeating-linear-gradient(
    45deg,
    white,
    white 10px,
    #000000 10px,
    #000000 20px
  );
}

.colorBox {
  margin: 0;
  width: 100%;
  height: 100%;
  grid-area: 1/1;
  height: 3rem;
  width: 3rem;
  justify-self: center;
  background-color: aqua;
}

.slider {
  position: relative;
  top: 50%;
}

label {
  margin-left: 1rem;
  font-weight: bold;
  color: black;
  text-shadow: lightgray 0.05rem 0.05rem;
}
button {
  box-shadow: black 0.05rem 0.05rem;
  color: black;
}
